#start-card {
  margin-top: 10%;
  text-align: center;
}

#game-table {
  margin-top: 40px;

  height: 400px;
  width: 400px;

  margin-left: auto;
  margin-right: auto;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.begin-card {
  margin-top: 40px;
}

#timer {
  margin-top: 20px;
}

#guesses {
  margin-top: 20px;
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

td {
  align-content: center;
}

.hover {
  background: rgb(128, 128, 128);
}

.selected {
  background: rgb(106, 90, 205);
}

.hover-enemy  {
  background: rgb(128, 108, 108)
}

.selected-enemy {
  background: rgb(106, 70, 185)
}

.empty-enemy {
  background: rgb(255, 235, 235)
}

.none {
  background: transparent;
}

.table-text {
  width: 70px;
  height: 70px;
  margin: 15px;
  padding: 20px;
  text-align: center;
}
